node_modules
.DS_Store
.tmp
tmp
dist
npm-debug.log*
yarn.lock
.vscode/launch.json
.editorconfig
.eslintrc.js
.eslintrc.prepublish.js
.npmignore
.prettierrc.js
.vscode
.idea
package_check
deprecated/

credentials/SuperSaaSApi.credentials.js
credentials/SuperSaaSApi.credentials.js.map
tsconfig.tsbuildinfo
